.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s, ease-in, visibility 0s linear 0.3s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  max-width: 730px;
  box-sizing: border-box;
  width: 100%;
  padding: 32px 50px;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  opacity: 70%;
  padding: 0;
  border-style: none;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.modal__close-btn-icon {
  color: rgba(33, 33, 33, 0.4);
  opacity: 40%;
}

.modal__close-btn:hover .modal__close-btn-icon {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins" Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;

  line-height: 100%;
  letter-spacing: 0%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.7);
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;

  line-height: 110%;
  letter-spacing: 0%;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  border: 1px;
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
  border-style: solid;
  box-sizing: border-box;
  padding: 16px 12px;
  color: rgba(33, 33, 33, 1);
  width: 100%;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;

  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.modal__submit-btn {
  padding: 18px 58px;
  width: 156px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
  transition: background-color 0.5s ease-in;
}

.modal__submit-btn:hover {
  background-color: black;
}

@media screen and (max-width: 629px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    margin: 0 0 34px;
    font-size: 20px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
