.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 40%);
}

.profile__avatar {
  max-width: 190px;
  margin-right: 20px;
}

.profile__content {
  display: flex;
  flex-direction: column;
}

.profile__name {
  max-width: 420px;
  height: 32px;
  margin: 0 0 12px;
  /*
  grid-column: 2/4;
  grid-row: 2/1;
  */
}

.profile__description {
  width: 97px;
  height: 16px;
  margin: 0;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  color: rgba(33, 33, 33, 70%);
}

.profile__button-edit {
  border-style: none;
  background-color: #fcf5e5;
  margin-top: auto;
  margin-right: auto;
  display: flex;
  gap: 8px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  color: rgba(33, 33, 33, 70%);
  transition: color 0.8s ease-in;
  cursor: pointer;
}

.profile__button-edit:hover {
  color: rgba(33, 33, 33, 1);
}

.profile__button-editicon {
  color: rgba(33, 33, 33, 70%);
}

.profile__button-post {
  background-color: rgba(33, 33, 33, 1);
  color: #fcf5e5;
  font-size: 16px;
  margin-left: auto;
  border-radius: 8px;
  margin-top: auto;
  width: 149px;
  height: 52px;
  display: flex;
  justify-content: center;
  padding: 18px 24px 18px 20px;
  gap: 8px;
  transition: background-color 0.5s ease-in;
  cursor: pointer;
}

.profile__button-post:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.profile__button-posticon {
  border-radius: 2px;
  width: 12px;
  height: 12px;
  padding: 2px 0 2px;
}

@media screen and (max-width: 629px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 12px;
    border-radius: 8px;
  }

  .profile__name {
    margin-bottom: 6px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .profile__description {
    margin: 0 auto;
    padding-bottom: 32px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .profile__button-edit {
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .profile__button-post {
    margin: 0;
  }
}
